@model List<Category>
    <div class="card shadow border-0 mt-4">
   <div class="card-header bg-secondary bg-gradient mt-0 py-3">
      <div class="row">
         <div class="col-12 text-center">
             <h2 class="text-primary">Category Lists</h2>
         </div>
      </div>
   </div>
   <div class="card-body p-4">
    <div class="row">
        <div class="col text-end">
            <a asp-controller="category" asp-action="create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create new category</a>
        </div>
    </div>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Category name</th>
                <th>Display Order</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model.OrderBy(u => u.DisplayOrder))
            {
                <tr>
                    <td>@cat.Name</td>
                    <td>@cat.DisplayOrder</td>
                    <td><a asp-controller="category" asp-action="edit" asp-route-id="@cat.Id" class="btn btn-sm btn-info"><i class="bi bi-pencil-square"></i> Edit</a></td>
                    <td><a asp-controller="category" asp-action="delete" asp-route-id="@cat.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i> Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
   </div>
